body {
    
    background: radial-gradient(circle, rgba(87,19,141,1) 0%, rgba(50,14,38,1) 100%);
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main {
    background-color: #001f3f;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn {
    background-color: #0074cc;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    width: 50px;
    outline: none;
}

.btn:hover {
    background-color: #0056b3;
    
}
#display {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;  /* Adicione esta linha */
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    text-align: right;
    outline: none;
}
